html, body {
    font-weight: 400;
    background: rgb(16,20,18);
    background: linear-gradient(90deg, rgba(16,20,18,1) 0%, rgba(21,47,34,1) 35%, rgba(2,135,162,1) 100%);
}

.login-div {
    width: 600px;
    height: 320px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    border-radius: 15px;
    align-content: center;
}

.login-text {
    margin-left: 185px;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.login-input {
    font-size: 36px;
    height: 40px;
    width: 480px;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: ivory;
}

.login-button {
    font-size: 36px;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 210px;
    background-color: rgb(65, 178, 201);
    color: white;
}

.main-div {
    width: 900px;
    height: 950px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 15px;
    align-content: center;
}

.main-header {
    margin-left: 290px;
    font-size: 40px;
    margin-top: 40px;
    font-weight: 600;
    margin-bottom: 0px;
}

.main-input1 {
    font-size: 26px;
    height: 40px;
    width: 380px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: ivory;
}

.top-button {
    font-size: 26px;
    height: 45px;
    border-radius: 10px;
    margin-top: 35px;
    background-color: rgb(65, 178, 201);
    color: white;
    margin-left: 1px;
}

.row-input {
    font-size: 16px;
    height: 30px;
    width: 290px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: ivory;
}

.row-button {
    font-size: 16px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(65, 178, 201);
    color: white;
    margin-left: 1px;
}

.row {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.row-header-text {
    font-weight: 650;
    font-size: 26px;
    margin-bottom: 0px;
    margin-left: 120px;
}

.row-text {
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.display-text {
    font-weight: 650;
    display: block;
    margin-top: 150px;
    margin-left: 100px;
    font-size: 36px;
}

.column {
    flex: 50%;
}

.progress {
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: none;
  }
  
  .progress.vertical {
    position: relative;
    width: 60px;
    height: 480px;
    display: inline-block;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
  }
  
  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .progress.vertical > .progress-bar {
    width: 100% !important;
    position: absolute;
    bottom: 0;
  }
  
  .progress-bar {
    background-color: #2196f3;
    box-shadow: none;
  }
  
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }